body{
    display: flex;
    flex-direction: column;
}
h1 {
    font-size: 30pt;
    text-align: center;
}
#dollarCounter {
    text-align: center;
    font-size: 30pt;
    color: green;
}
#dollarImg {
    display: flex;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
p {
    font-size: 15pt;
    display: flex;
    width: 70%;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
button {
    font-size: 15pt;
    padding:0%;
    display: flex;
    width: 70%;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}